<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="VENDOR_MODULE::DummyMenuName" title="" translate="title" module="VENDOR_MODULE" sortOrder="10" parent="DummyParentModule" action="DummyAction" resource="Magento_Catalog::sets"/>
    </menu>
</config>
